@font-face {
    src: url('./resources/fonts/HenriDidot.otf');
    font-family:newFont;
}
html{
    scroll-behavior: smooth;
    margin:0;
    padding:0;
    transition:0.5s ease-in-out;
}
body::-webkit-scrollbar{
    display: none;
}
body{
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
    font-weight: 1200;
background: url(./resources/white-back.jpg)center /cover fixed no-repeat;

    color: rgb(0, 0, 0);
}
a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    justify-self:center;
    height:80vh;
}
.header h1{
    font-size:5rem;
    color:rgb(0, 0, 0);
    font-family: 'Raleway';


}
.gradient-text {
    font-weight: normal;
    cursor: pointer;
}

p{
    font-family: 'Raleway', sans-serif;
}

.navbar{
    margin-top:0px;
    transition:0.3s ease-out;
    overflow:hidden;
    height:15vh;
}
.nav-links{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    display: flex-end;
    align-items: right;
    justify-content: right;
    text-align: right;
    align-self: right;
    justify-self:right;
    transition:0.3s ease-out;
    margin-top:-5%;
}
.nav-links a{
    color:rgba(0, 0, 0, 0.738);
    font-size:1.5rem;
    padding: 15px;
    font-weight: 600;
    transition: 0.5s ease-in-out;
}
.nav-links a:hover{
    color:rgb(0, 0, 0);
    transition:0.5s;
}
a.left{
    position:relative;
}
a.left:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    right: 0;
    background: rgb(0, 0, 0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
a.left:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
#load{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    z-index: 1;
    display: flex;
    animation:spin 1s linear infinite;
}
    @keyframes spin{
        100%{
            transform:rotate(360deg);
        }
    }
.center{
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
}
#main{
    transition:0.5s;
    margin:0;
    padding:0;
    width:100%;
}
.cards-container{
    height:80vh;
    padding:2rem;
    display:flex;
    overflow:hidden;
    width:max-width;
}
.card{
    width:30vw;
    margin:auto;
    border-radius:30px; 
    transition:0.2s ease-in-out;
    height:74vh;
    align-items: center;
    justify-content: center;
    -webkit-transform: translateZ(0);
-moz-transform: translateZ(0);
-ms-transform: translateZ(0);
-o-transform: translateZ(0);
transform: translateZ(0);
}
.paral-card{
    height:32vh;
    border-radius:30px; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    justify-self:center;
    background-color:rgb(0, 0, 0);
    transition:0.5s ease-in-out;
}
.paral-card img{
    height:32vh;
    width:auto;
    border-radius:30px; 
}

.card h1{
    padding-top: 3rem;
    letter-spacing: 2px;
    font-weight: 100;
}
.card:hover{
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    transition:0.7s;
}
.card:hover .paral-card{
    background-color:#ff2f2f;
    transition:0.5s;
    margin:1rem;
    padding-top:1rem;
    padding-bottom:1rem;
}
.slideshow{
    display: flex;
    height:70vh;
    background: hsl(0, 0%, 0%) ;
    border-radius:50px;
        overflow: hidden;
    color:white;
}
.slide-img{
    border-radius:50px;
    border-top-right-radius: 50px;
    width:50%;
    overflow: hidden;
}

#slides{
    position:relative;
    height:70vh;
     border-top-right-radius: 25px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    justify-self:center;
    overflow:hidden;
}
.slide{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    z-index:1;
    opacity: 0;
    -webkit-transition: opacity 1.5s;
    -moz-transition: opacity 1.5s;
    -o-transition:opacity 1.5s;
    transition:opacity 1.5s;
}
.showing{
    opacity:1;
    z-index:2;
}
.slide{
    font-size:40px;
    box-sizing:border-box;
    background:rgb(0, 0, 0);
    color:#fff;
}
.slide:nth-of-type(1){
    background:transparent;
}
.slide:nth-of-type(2){
    background:transparent;
}
.slide:nth-of-type(3){
    background:transparent;
}
.slide:nth-of-type(4){
    background:transparent;
}
.slide:nth-of-type(5){
    background:transparent;
}
.slide-text{
    width:50%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    justify-self:center;

}
.slide-text h1{
    line-height:50px;
    letter-spacing:5px;
}
.design-container{
    background:rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    overflow:hidden;
}
.row{
    display:flex;
    height:58vh;
}
.content{
    width:50%;
    height:inherit;
    background:#fc4040;
    color:rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    justify-self:center;
}
.row-img{
    width:50%;
    display: flex;
    background:#000000;
}
#row1 .row-img{
    
    background: url(./resources/brooke-lark-JkTv__BqmaA-unsplash.jpg)center / cover ;
}
#row2 .row-img{
    background:url(./resources/sonny-sixteen-Pmgq5gtGd-Y-unsplash.jpg)center / cover;
}
.content h1{
    font-size:3rem;
    font-weight: 100;
    letter-spacing:7px;
    padding-top:6rem;
}
.content p{
    margin-top:6rem;
    font-size:1.5rem;
    letter-spacing:2px;
    font-weight: 100;
}


#row2 h1,p {
    padding-left:1rem;
}

#row2 .content{
    background:rgb(0, 0, 0);
    color:white;   
}
.parallax{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    justify-self:center;
    height:50vh;
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(./resources/back-1.jpg)center/cover fixed;  
    color:rgb(255, 255, 255);
}
.parallax h1{
    font-family:newFont;
    letter-spacing: 10px;
}
.parallax button{
    margin-left:2rem;
    padding:0.8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    width:15rem;
    font-size:1.2rem;
    background:#F5BB00;
    border:0px solid transparent;
    border-radius:50px;
    cursor:pointer;
    transition:0.4s ease-in-out;
}
.parallax button:hover{
    background:black;
    border:8px solid yellow;
    color:white;
    transition:0.5s;
}
.cont-container{
    height:74vh;
    margin-top:4rem;
}
.text-box{
    height:45vh;
    background:#121313;
    color:white;
}
.text-box,.col-2 h1{
    font-weight:200;
    letter-spacing:5px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    justify-self:center;
}
.column-box{
    height:29.5vh;
    display:flex;
}
.col-1{
    width:33vw;

}
.col-2{
    width:67vw; background:#DB222A;
    color:white;
}
.col-1 {
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    justify-self:center;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./resources/black-back.jpg) fixed ;
    height:inherit;
}
.col-1 button{
    font-family: 'Raleway', sans-serif;
    padding-left:3rem;
    padding-right:3rem;
    padding-top:1rem;
    padding-bottom:1rem;
    font-size:1rem;   
      font-weight: 900;
    border-radius:50px;
    border:0;
    cursor:pointer;
    transition:0.3s ease-in-out;
}
.col-1 button:hover{
    transition:0.5s;
    background:black;
    color:white;
    border:10px solid rgb(0, 157, 255);
}
.col-1 i{
    padding-left:0.5rem;
    transition:0.5s ease-in-out;
}
.col-1  button:hover i{
    padding-left:1.5rem;
    transition:0.5s;
}
footer{
    height:40vh;
    display: flex;
    background:#ffffff00;
    color:rgb(0, 0, 0);
}
.fot-1{
    
    width:35vw;
}
.fot-2{
    width:65vw;
}
.fot-1 img{
    height:60%;
    margin-left:35%;    
}
.fot-1 .icon-container{

    height:30%;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    justify-self:center;
}
.icon-container i{
    font-size:2.5rem;
    margin:0.5rem;
    color:rgb(185, 185, 185);
    transition:0.3s ease-in-out;
    cursor:pointer;
}
.icon-container i:hover{
    color:#000000;
    transition:0.4s;
}
.closebtn{
        display:none;
    }
#open-navbar{
    display:none;
}
.backToTop {
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    justify-self:center;
    font-size:1.5rem;
    letter-spacing:15px;
}

@media screen and (max-width: 576px){
body{
        max-width: 576px;
        
    }
    .closebtn{
        display:block;
    }
#open-navbar{
    display:block;
    margin-left:58%
}

.mysideNav a{
    font-size:4vh;
    text-decoration:none;
    display: block;
    padding:7.5vh;
    text-align: center;
    background:rgb(0, 0, 0);
    color: rgba(255,255,255,0.5 );
    transition:0.3s ease-out;
}
.mysideNav{
    display:block;  
    z-index: 1;
    transition: 0.5s;
    overflow-x: hidden;
    width: 0px;
    top: 0;
    left: 0;
    position: fixed;
    height:auto;
}
#sideNav{
    position: fixed;
}
.mysideNav a:hover{
    color: white; 
    transition: 0.5s;
}
a.left:after{
    width:0%;
}
.navbar{
    display:flex;
}

.row{
    display: block;
    overflow: hidden;
    height:auto;
}
#row1{
    background:#fc4040;
}
#row2{
    background: #000;
}
.row-img{
    height:50vh;
    margin:0;
}

.content{
    width:100vw;
}
.row-img{
    width:100vw;
}

.row h1,p {
    padding-left:0;
}
.row img{
    margin:0;
}
.content{
    padding:0;
}
.cards-container{
    display:block;
    height: fit-content;
    padding:0;
}
.card{
    width:91%;
    height:50vh;
    margin:1rem;
    margin-top:2rem;
    font-size:0.8rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    justify-self:center;
}
.paral-card img{
    height:20vh;
}
.paral-card{
    height:22vh;
}
.slideshow{
    display:block;
    height: fit-content;
    padding:0;
}
.slide-img {
    width:99vw;
    overflow: hidden;
}
.slide img{
    margin-left:-50%;
    height:100%;
}
.slide-text{
    width:95vw;
}
.cont-container{
    height:fit-content;
    
}
.column-box{
    display:block;
    height: auto;
    padding:0;
}
.col-2{
    width:100vw;
    height:50vh;
    font-size:0.9rem;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    justify-self:center;
}
.col-1{
    width:100vw;
    height:15vh;
}
.text-box{
    height:70vh;
    font-size:0.8rem;
}
.parallax{
    display:block;
}
.parallax h1{
    padding-top:45%;
    padding-bottom:5%;
    margin:0;
}
.parallax button{
    margin-left:0;
}
footer{
    display:block;
    height: fit-content;
    padding:0;
    width:100vw;
}
.fot-1 img{
    width:85vw;
    margin-left:0;
}
.fot-1{
    width:90vw;
}
.fot-2 iframe{
    width:100vw;
}
}